{% extends 'base.html' %}
{% block body %}
<style>
body{
        background-image: url('https://static.vecteezy.com/system/resources/previews/000/598/262/original/abstract-colorful-low-poly-vector-background-with-cool-gradient-futuristic-pattern.jpg');
        background-repeat: no-repeat;
        background-size: cover;
       }
</style>
<div  align="center">
<!--    <marquee><h2> Welcome to our website...</h2></marquee>-->
    {% include 'slider.html' %}
</div>
<div class="hero">

</div>
</br></br></br></br>
{% include 'chatboat.html' %}
{% include 'footer.html' %}
{% endblock %}